@media all and (orientation:portrait) {
    @-ms-viewport {
        width:320px;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

@media all and (orientation:landscape) {
    @-ms-viewport {
        width:480px;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
    word-break: break-all;
}

body {
    font-size: 11pt;
    font-family: "Segoe WP";
    letter-spacing: 0.02em;
    /* background-color: #000000; */
    /*
    background: #1d2793; /* Old browsers 
    background: -moz-linear-gradient(top, #1d2793 0%, #523460 100%); /* FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d2793), color-stop(100%,#523460)); /* Chrome,Safari4+ 
    background: -webkit-linear-gradient(top, #1d2793 0%,#523460 100%); /* Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top, #1d2793 0%,#523460 100%); /* Opera 11.10+ 
    background: -ms-linear-gradient(top, #1d2793 0%,#523460 100%); /* IE10+ 
    background: linear-gradient(to bottom, #1d2793 0%,#523460 100%); /* W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2793', endColorstr='#523460',GradientType=0 ); /* IE6-9 
    */
    background: #303030;
    background-attachment: fixed;
    color: #ffffff;
    margin-left: 24px;
    min-height: 800px;
}

#programName {
    font-size: 12px;
}


.page-title {
    font-size: 24pt;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
    .page-title img {
        height: 20px;
    }

        .page-title img.previous {
            height: 25px;
        }

ul.menu {
    display: none;
    list-style-type: none;
    padding-left: 0px;
    margin-left: -24px;
}

    ul.menu li {
        width: 120%;
        padding: 10px;
        background: white;
        color: black;
        border: 1px solid white;
    }

        ul.menu li:active {
            background: #8800ff;
            color: white;
        }
            

ul.category-list, ul.vocabulary-list {
    list-style-type: none;
    padding-left: 0px;
    clear: both;
    width: 70%;
    -ms-touch-action: none; 
}

    ul.category-list li, ul.vocabulary-list li {
        margin: 15px;
        padding: 10px;
        border: 1px solid white;
        width: 90%;
        min-height: 25px;
    }
    ul.category-list li:before, ul.vocabulary-list li:before,
    ul.category-list li:after, ul.vocabulary-list li:after {
        content:"";
        display:block;
    }
    ul.category-list li:after, ul.vocabulary-list li:after {
        clear:both;
    }

        ul.category-list li.add, ul.vocabulary-list li.add {
            border: 1px dashed white;
            vertical-align: central;
        }

        ul.category-list li:active, ul.vocabulary-list li:active, #click_index2:active{
            background: #8800ff;
        }

#content {
    margin-top: 10px;
}

#addCategory, #categoryContent, #vocabularyContent, #addVocabularyPage, #about, #exportPage, #importPage {
    display: none;
}

#about {
    margin-left: -24px;
    width: 120%;
    background: white;
    color: black;
    padding: 10px;
}

.card {
    border-radius: 10px;
    background: white;
    color: black;
    padding: 10px;
    width: 80%;
}
    
    .card .page-title {
        border-bottom: 1px solid black;
        height: auto;
        padding-bottom: 4px;
    }

    .card:active {
        background: #8800ff;
    }

    .card .button {
        height: 25px;
        margin-top: -3px;
    }

.button {
    height: 25px;
    margin-top: -3px;
}